<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#Q1">Question 1</a></li>
<li><a href='#Q2'>Question 2</a></li>
<li><a href='#Q3'>Question 3</a></li>
<li><a href="#Q4">Question 4</a></li>

<a id='imports'></a>
# IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [6]:
# Vectorization and tables
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Stats
from scipy import stats

# sklearn
from sklearn.feature_selection import SelectKBest, RFE
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SequentialFeatureSelector

# Datasets
from pydataset import data

# .py files
import wrangle

<a id='Q1'></a>
# Question 1:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 1. Load the tips dataset.

In [7]:
tips = data('tips')
tips.sample()

    total_bill  tip   sex smoker  day    time  size
29        21.7  4.3  Male     No  Sat  Dinner     2

##### 1a. Create a column named price_per_person. This should be the total bill divided by the party size.

In [18]:
tips['price_per_person'] = round(tips.total_bill / tips['size'], 2)
tips.sample()

     total_bill   tip   sex smoker  day    time  size  price_per_person
207       26.59  3.41  Male    Yes  Sat  Dinner     3              8.86

##### 1b. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

- Everything seems like it would affect the tip amount...  Judging from most important to least important...
    - size
    - time
    - day
    - sex
    - smoker

##### 1c. Use select k best to select the top 2 features for predicting tip amount. What are they?

In [32]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [33]:
tips.sex = np.where(tips.sex == 'Male', 1, 0)
tips.smoker = np.where(tips.smoker == 'Yes', 1, 0)
tips.day = np.where(tips.day == 'Sat', 7, tips.day)
tips.day = np.where(tips.day == 'Sun', 1, tips.day)
tips.day = np.where(tips.day == 'Thur', 5, tips.day)
tips.day = np.where(tips.day == 'Fri', 6, tips.day)
tips.time = np.where(tips.time == 'Dinner', 0, 1)
tips.sample()

    total_bill   tip  sex  smoker day  time  size  price_per_person
41       16.04  2.24    0       0   7     0     3              5.35

In [34]:
x_col = tips.drop(columns='total_bill')
y_col = tips.total_bill

In [37]:
kbest = SelectKBest(f_regression, k=2)
_ = kbest.fit(x_col, y_col)
x_col.columns[kbest.get_support()]

/usr/local/anaconda3/lib/python3.9/site-packages/sklearn/feature_selection/_univariate_selection.py:289: RuntimeWarning: invalid value encountered in true_divide
  correlation_coefficient /= X_norms

Index(['tip', 'price_per_person'], dtype='object')

##### 1d. Use recursive feature elimination to select the top 2 features for tip amount. What are they?

##### 1e. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

<a id='Q2'></a>
# Question 2:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

<a id='Q3'></a>
# Question 3:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

<a id='Q4'></a>
# Question 4:
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [5]:
swiss = data('swiss')
swiss.sample()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Payerne,74.2,58.1,14,8,5.23,23.8